name: UserTestingWorkflow
on:
  push:
    branches:
    - master
    - yamlOutPutTesting
jobs:
  Build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration Release
  Linting:
    name: Linting
    runs-on: ubuntu-latest
    needs: Build
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: "14"
    - name: Install dependencies
      run: npm install
    - name: Run linter
      run: npm run lint
  Testing:
    name: Testing
    runs-on: ubuntu-latest
    needs: Build
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Run tests
      run: dotnet test --no-build --verbosity normal
